*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Leatherworks.Api/[Dd]ebug/
Leatherworks.Api/[Dd]ebugPublic/
Leatherworks.Api/[Rr]elease/
Leatherworks.Api/[Rr]eleases/
Leatherworks.Api/x64/
Leatherworks.Api/x86/
Leatherworks.Api/build/
Leatherworks.Api/bld/
Leatherworks.Api/[Bb]in/
Leatherworks.Api/[Oo]bj/
Leatherworks.Api/[Oo]ut/
Leatherworks.Api/msbuild.log
Leatherworks.Api/msbuild.err
Leatherworks.Api/msbuild.wrn

# Visual Studio 2015
.vs/